* {
    padding: 0;
    margin: 0;
}

.App {
    text-align: center;
}

body {
    background-color: #506680;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

nav {
    width: 100%;
    background: #081b33;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

a:hover {
    color: rgb(160, 209, 255);
    transition: ease-in 200ms;
}
